<!--Inserts text after the content of the article-->
<br>
<div class="aux-content">
  <hr>
  {{ if and .Page.Params.createdDate .GitInfo .Site.Params.GitRepo }}
    <ul class="flex-box">
        <li class="element">{{ partial "icon.html" "calendar" }}</li>
        <li class="element">{{ .Params.createdDate | time.Format "02 Jan 2006" }}</li>
        <li class="element">|</li>
        <li class="element">
          <strong>Edited:</strong>
          <a href="{{ .Site.Params.GitRepo }}/-/commit/{{ .GitInfo.Hash }}" target="_blank" rel="noopener noreferrer">{{ .GitInfo.AuthorDate.Format "02 Jan 2006" }}</a>
        </li>
  {{ end }}
</div>
