<div class="info-content">
  <ul class="flex-box">
    <li class="element"><a href="https://gitlab.com/makejames/digital-garden" target="_blank" rel="noopener noreferrer">{{ partial "icon" "gitlab" }}<span class="visually-hidden">Gitlab</span></a></li>
    <li class="element"><a href="https://ko-fi.com/A0A4KE7CS" target="_blank" rel="noopener noreferrer">{{ partial "icon" "kofi" }}<span class="visually-hidden">Buy me a Ko-fi</span></a></li>
    <li class="element"><a href="mailto:james@makejames.com" target="_blank" ref="noopener noreferrer">{{ partial "icon" "paper-plane" }}<span class="visually-hidden">Email me</span></a></li>
  </ul>
</div>
<div class="aux-content">
  <p>
    {{ partial "icon" "seedling" }}<span class="visually-hidden">Grown</span> using <a href="https://gohugo.io/">Hugo</a> and <a href="https://gitlab.com/makejames/letter-press">letter-press</a>
  </p>
</div>
