<!--takes a path to an article and generates a heading and summary -->
{{ $page := "" }}
{{ with .Get 0 }}
  {{ $page = . }}
{{ end }}
{{ with .Site.GetPage $page }}
  <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
  <div class="markdown-inner">
      {{ default .Summary .Description }}
  </div>
  {{ end }}
