<!--Over type the theme section shortcode-->
{{ range .Page.Pages }}
  <h3>
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
  </h3>
  <div class="markdown-inner">
    {{ default .Summary .Description }}
  </div>
{{ end }}
